<!DOCTYPE html>
<html>
<head>
    <title>{{ website_title }}</title>
</head>

<body>
    <h1>{{ website_title }}</h1>

    <h2>{{ server_name }}</h2>

    <p>Environment: {{ server_environment }}</p>

    <p>This website was deployed using Ansible.</p>
</body>
</html>
